!!!
html(lang="es")
	head
		meta(charset="utf-8")
		title= title
		meta(name="description", content= description)
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		
		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		div(id="mimapa")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/main.js")