!!!
html(lang="es")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description", content= description)
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        div(id="mimapa")
        div(id="formulario", style="display:none;")
            h1 agregar sitio turisticos
            form(action="#", methos="post")
                a(id="cerrar", href="#cerrar") x
                p
                    label(for="lugar") nombre:
                    br
                    input(id="lugar", name="lugar", type="text")
                p
                    label(for="ubicacion") ubicacion:
                    br
                    input(id="ubicacion", name="ubicacion", type="text")
                p
                    label(for="imagen") imagen:
                    br
                    input(id="imagen", name="imagen", type="file")
                p
                    label(for="descripcion") descripcion:
                    br
                    textarea(id="descripcion", name="descripcion")
                p
                    input(type="submit", value="guardar")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")