background-size()
	-webkit-background-size cover
    -moz-background-size cover

box-shadow(arguments)
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	box-shadow arguments