-moz-background-size cover,box-shadow(arguments){-webkit-box-shadow:arguments;-moz-box-shadow:arguments;-o-box-shadow:arguments;-ms-box-shadow:arguments;box-shadow:arguments}
body{background:#222;color:#333;font-family:Helvetica,Arial;font-size:16px}
#header h1{color:#fff;cursor:pointer;float:left;font-size:1.2em;line-height:40px;margin:0 1.8em 0 1.8em}
#header a#loginButton,#header a#registro,#header a#addButton{background:#006cd8;color:#fff;display:inline-block;float:right;font-size:15px;font-weight:bold;margin-top:.4em;margin-left:.8em;padding:.3em .6em;text-decoration:none;vertical-align:top;}
#header a#loginButton:hover,#header a#registro:hover,#header a#addButton:hover{background-image:radial-gradient(circle,#4fa7ff 0%,#006cd8 100%)}
#header a#loginButton{margin-right:1em}
#header a#acerca{margin-left:2em}
#header a#addButton{background:#008000;margin-right:4em;}
#header a#addButton:hover{background-image:radial-gradient(circle,#1aff1a 0%,#008000 100%)}
#header a#colabora,#header a#acerca{color:#666;float:left;font-size:13px;font-weight:bold;margin-right:.8em;margin-top:1em;text-decoration:none}
#logintt,#agregar-sitio{background:#fafafa;border-radius:0 7px 7px 7px;box-shadow:rgba(0,0,0,0.5) 5px 5px 7px;display:none;left:88%;margin-left:-125px;padding:1em;position:absolute;text-align:center;top:10%;width:250px;z-index:999;}
#logintt h2,#agregar-sitio h2{color:#1a1a1a;font-size:17px}
#logintt a,#agregar-sitio a{background-color:#1bb2e9;color:#fff;display:block;font-weight:bold;margin:1em auto;padding:.5em .1em;text-align:center;text-decoration:none}
#logintt input[type='text'],#agregar-sitio input[type='text']{border:thin solid #ccc;border-radius:.2em;margin-bottom:.5em}
#logintt input[type='button'],#agregar-sitio input[type='button']{background:#238c00;color:#fff;font-size:.8em;height:40px;width:70%}
#agregar-sitio{background:#fafafa;display:none;font-size:13px;left:50%;position:absolute;text-align:left;top:10%;width:250px;z-index:999;}
#agregar-sitio .radios{display:inline;vertical-align:top;font-size:12px}
#agregar-sitio h2{background-color:#008000;color:#fff;font-weight:normal;margin-top:0;padding:10px 0 10px 0;text-align:center}
#agregar-sitio input[type="text"],#agregar-sitio textarea{color:#222;font-size:15px;padding:5px;width:97%}
#agregar-sitio #positionPlace{width:60%;}
#agregar-sitio #positionPlace span{background-color:#222}
#agregar-sitio p{margin:5px;padding:0}
#main{position:absolute;bottom:0;left:320px;right:0;top:40px}
#mimapa{height:100%;left:0;position:absolute;top:0;width:100%}
#places{list-style:none;padding:0;}
#places li{padding:0;margin-bottom:.5em;}
#places li a{background-color:#fff;color:#666;display:block;padding:1em;}
#places li a:hover,#places li a.active{background-color:#e1e2e5}
#places li a img{border-radius:5em;float:left}
#places li a > div{display:table;height:100px;margin-left:110px;vertical-align:top;}
#places li a > div > .center{display:table-cell;vertical-align:middle}
#places li a h3{font-size:.9em;margin:.2em 0}
#places li a p{font-size:.7em;margin:0}
#place{position:absolute;left:350px;margin:50px auto 50px auto;margin-bottom:1.9em;padding:1em;width:950px;height:550px;border-radius:0 7px 7px 7px;background-image:url("/../images/toronto.jpg");background-position:center;-webkit-background-size:cover;background-repeat:no-repeat;box-shadow:rgba(0,0,0,0.5) 5px 5px 7px;-webkit-background-size:cover;}
#place h1{margin:0 0;padding:.5em 2em .5em .6em;background:#2980b9;box-shadow:rgba(52,152,219,0.5) 0 .4em;color:#fff;text-align:left;text-transform:uppercase;text-shadow:3px 3px 5px rgba(0,0,0,0.5);font-size:1.5em}
#place p{background:rgba(0,0,0,0.4);box-shadow:rgba(0,0,0,0.3) 5px 5px 7px;color:#fff;padding:1em}
#place abbr{color:#fff;font-size:.8em;margin:0 1.4em;position:absolute;right:0;text-shadow:2px 2px 5px rgba(0,0,0,0.5)}
#place a{text-decoration:none}
#sidebar{background:#f6f6f6;bottom:0;box-shadow:0 0 10px -2px rgba(0,0,0,0.5);left:0;overflow:auto;position:absolute;top:40px;width:320px;z-index:1;}
#sidebar .elemList{background:#fff;color:#222;cursor:pointer;margin:.5em auto;overflow:hidden;padding:5px;}
#sidebar .elemList .name{font-size:15px;font-weight:bold;margin:0}
#sidebar .elemList .description{font-size:15px;margin:.3em 0}
#sidebar .elemList .caption{padding-left:100px}
#sidebar .elemList .thumb{border-radius:100%;overflow:hidden;float:left}
#sidebar .elemList .thumb img{display:block;height:90px;width:90px}
#sidebar .elemList:hover{background:#d9d9d9;transition:all .8s ease-out}
#sidebar h2{background:#dc2833;color:#fff;font-size:1.2em;margin:0;padding:.5em;text-align:center;text-shadow:1px 2px 5px #000;filter:dropshadow(#000,1,1)}
.leaflet-top.leaflet-center{display:none}
@media screen and (max-width:1200px){#formulario{left:140px}
#sidebar{width:290px}
#main{left:290px}
}@media screen and (max-width:1024px){#formulario{left:100px}
#sidebar{width:280px}
#main{left:280px}
}@media screen and (max-width:768px){#formulario{left:140px}
}@media screen and (max-width:600px){#formulario{left:0}
#sidebar{height:100%;top:650px;width:100%}
#main{left:0;height:620px;width:100%}
}