-moz-background-size cover,box-shadow(arguments){-webkit-box-shadow:arguments;-moz-box-shadow:arguments;-o-box-shadow:arguments;-ms-box-shadow:arguments;box-shadow:arguments}
body{background:#666;color:#333;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px}
a{text-decoration:none}
#header{background:linear-gradient(to bottom,#fff 0%,#eee 100%);border-bottom:1px solid #ccc;box-shadow:0 0 5px rgba(0,0,0,0.3);height:44px;position:absolute;width:100%;z-index:1002;}
#header .brand_area{float:left;margin:4px 10px;}
#header .brand_area img{display:block}
#header .actions_area,#header .user_area{border-left:1px solid #ddd;border-right:1px solid #fff;float:right;padding:5px 10px;}
#header .actions_area a,#header .user_area a{color:#333;line-height:34px}
#header .user_area{line-height:34px;}
#header .user_area .avatar{border-radius:4px;float:left;margin-right:5px;overflow:hidden;}
#header .user_area .avatar img{display:block}
#header .user_area .name{float:left}
#header #loginButton,#header #registro,#header #addButton{background:#006cd8;border-radius:4px;color:#fff;display:inline-block;font-size:15px;margin:0 0 0 5px;padding:0 15px;}
#header #loginButton:hover,#header #registro:hover,#header #addButton:hover{background-image:radial-gradient(circle,#1489ff 0%,#006cd8 100%)}
#header #addButton{background:#238c00;margin-right:10px;}
#header #addButton:hover{background-image:radial-gradient(circle,#35d600 0%,#238c00 100%)}
#header #logoutButton:hover{text-decoration:underline}
#logintt{background:#fafafa;border-radius:4px;box-shadow:0 0 10px rgba(0,0,0,0.3);display:none;padding:15px;position:absolute;right:10px;text-align:center;top:45px;width:220px;z-index:999;}
#logintt h2{color:#1a1a1a;font-size:17px;margin:0 0 10px 0}
#logintt a#tt,#logintt a#fb{background:#1bb2e9;color:#fff;display:block;font-size:13px;font-weight:bold;line-height:32px;margin:10px 0 0 0;padding:5px;text-align:center;text-decoration:none;}
#logintt a#tt img,#logintt a#fb img{display:block;float:left}
#logintt a#fb{background:#1e62a9}
#logintt input[type='text']{border:thin solid #ccc;border-radius:.2em;font-size:15px;height:20px;margin-bottom:1em;padding:5px;width:200px}
#logintt input[type='button']{background:#238c00;color:#fff;font-size:15px;font-weight:bold;height:40px;width:40%;}
#logintt input[type='button']:hover{background-image:radial-gradient(circle,#58ff21 0%,#238c00 100%)}
#logintt p{color:#333;font-size:13px;font-weight:bold;margin-bottom:1em;margin-left:15px;text-align:left;}
#logintt p a{color:#006cd8;text-decoration:none}
#agregar-sitio{background:#fafafa;border-radius:4px;box-shadow:0 0 10px rgba(0,0,0,0.3);display:none;font-size:13px;left:50%;margin-left:-182px;padding:15px;position:absolute;text-align:left;top:70px;width:350px;z-index:1003;}
#agregar-sitio .close{background:#dc2833;border-radius:100%;color:#fff;font-weight:bold;line-height:29px;position:absolute;right:-12px;text-align:center;text-decoration:none;top:-10px;width:28px;}
#agregar-sitio .close:hover{background-image:radial-gradient(circle,#ea7e85 0%,#dc2833 100%)}
#agregar-sitio form#form-agregar-sitio p.formText{font-weight:bold}
#agregar-sitio form#form-agregar-sitio p.radios{color:#666;display:inline;font-size:12px;vertical-align:top;}
#agregar-sitio form#form-agregar-sitio p.radios input[type="radio"]{margin:.5em}
#agregar-sitio form#form-agregar-sitio p.radios span{margin:0 .3em 0 .3em}
#agregar-sitio form#form-agregar-sitio p#coords{display:none}
#agregar-sitio form#form-agregar-sitio span#pos{background:#a7a7a7;color:#fff;font-weight:bold;padding:.65em 1.4em .5em 1.2em}
#agregar-sitio form#form-agregar-sitio p#selectFile{margin-top:1em;}
#agregar-sitio form#form-agregar-sitio p#selectFile input#upload_value,#agregar-sitio form#form-agregar-sitio p#selectFile span.upload{display:inline-block;padding:5px;vertical-align:top;width:70%}
#agregar-sitio form#form-agregar-sitio p#selectFile input#upload_value{padding:6px}
#agregar-sitio form#form-agregar-sitio p#selectFile span.upload{background:#a7a7a7;cursor:pointer;width:22%;}
#agregar-sitio form#form-agregar-sitio p#selectFile span.upload input{cursor:pointer;opacity:0;width:22%}
#agregar-sitio form#form-agregar-sitio p#selectFile span#fileImage{color:#fff;cursor:pointer;font-weight:bold;left:270px;position:relative;top:-25px;z-index:99999}
#agregar-sitio form#form-agregar-sitio input[type="submit"]{background:#006cd8;border:0;border-radius:4px;color:#fff;float:right;font-size:15px;height:36px;margin:0;width:40%;}
#agregar-sitio form#form-agregar-sitio input[type="submit"]:hover{background-image:radial-gradient(circle,#4fa7ff 0%,#006cd8 100%)}
#agregar-sitio h2{color:#1a1a1a;font-size:17px;margin:0 0 10px 0;text-align:center}
#agregar-sitio input[type="text"],#agregar-sitio textarea{border:1px solid #ddd;color:#222;font-size:15px;padding:5px;width:338px}
#agregar-sitio textarea{resize:none;height:100px}
#agregar-sitio #positionPlace{width:70%;}
#agregar-sitio #positionPlace span{background-color:#222}
#agregar-sitio p{margin:10px 0 0 0;padding:0}
#main{bottom:0;left:25px;position:absolute;right:0;top:45px}
#mimapa{height:100%;width:100%}
#places{list-style:none;padding:0;}
#places li{padding:0;margin-bottom:.5em;}
#places li a{background-color:#fff;color:#666;display:block;padding:1em;}
#places li a:hover,#places li a.active{background-color:#e1e2e5}
#places li a img{border-radius:5em;float:left}
#places li a > div{display:table;height:100px;margin-left:110px;vertical-align:top;}
#places li a > div > .center{display:table-cell;vertical-align:middle}
#places li a h3{font-size:.9em;margin:.2em 0}
#places li a p{font-size:.7em;margin:0}
#place{background-image:url("/../images/toronto.jpg");background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-webkit-background-size:cover;border-radius:0 7px 7px 7px;box-shadow:rgba(0,0,0,0.5) 5px 5px 7px;height:550px;left:350px;margin:50px auto 50px auto;margin-bottom:1.9em;padding:1em;position:absolute;width:950px;}
#place h1{background:#2980b9;box-shadow:rgba(52,152,219,0.5) 0 .4em;color:#fff;font-size:1.5em;margin:0 0;padding:.5em 2em .5em .6em;text-align:left;text-shadow:3px 3px 5px rgba(0,0,0,0.5);text-transform:uppercase}
#place p{background:rgba(0,0,0,0.4);box-shadow:rgba(0,0,0,0.3) 5px 5px 7px;color:#fff;padding:1em}
#place abbr{color:#fff;font-size:.8em;margin:0 1.4em;position:absolute;right:0;text-shadow:2px 2px 5px rgba(0,0,0,0.5)}
#place a{text-decoration:none}
#sidebar{background:#f6f6f6;bottom:0;box-shadow:0 0 10px -2px rgba(0,0,0,0.5);left:-295px;overflow:auto;position:absolute;top:45px;transition:all .3s ease;width:320px;z-index:1001;}
#sidebar h2{background:#666;color:#fff;font-size:15px;font-weight:normal;margin:0;padding:5px 8px 5px 10px;position:fixed;width:302px;}
#sidebar h2 i{float:right}
#sidebar #placeList{position:absolute;top:30px;z-index:-134}
#sidebar:hover{left:0;border:0}
#sidebar .elemList{background:#fff;color:#222;cursor:pointer;margin:.5em auto;overflow:hidden;padding:5px;}
#sidebar .elemList .name{font-size:15px;font-weight:bold;margin:0}
#sidebar .elemList .description{font-size:15px;margin:.3em 0}
#sidebar .elemList .caption{padding-left:100px}
#sidebar .elemList .thumb{border-radius:100%;float:left;overflow:hidden}
#sidebar .elemList .thumb img{display:block;height:90px;width:90px}
#sidebar .elemList:hover{background:#d9d9d9;transition:all .8s ease-out}
#popupPlace{font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:1em;height:90px;width:350px;}
#popupPlace img{border-radius:100%;float:left;height:90px;overflow:hidden;width:90px}
#popupPlace p{font-size:.9em;margin:5px;padding-left:100px}
#popupPlace #popupName{color:#222;font-size:1.2em}
#popupPlace #popupDet{display:inline;float:right;margin-top:20px;padding:0}
#menuContextual{display:none;position:absolute;width:150px;background:#f6f6f6;border:1px solid #222;z-index:9999999999;}
#menuContextual ul{list-style:none}
.leaflet-top.leaflet-center{display:none}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
