!!!
html(lang="es")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description", content= description)
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
        //- link(rel="stylesheet", href="/css/l.geosearch.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        header(id="header")
            h1 Mapa turístico

        section(id="sidebar")
            h2 Últimos sitios agregados
            //include sidebar/list_places

        section(id="main")
            div(id="mimapa")

        section(id="logintt")
            h2 ProudPlaces
            a(id="tt", href="/auth/twitter", title="Conéctate con Twitter") Conéctate con Twitter
            a(id="fb", href="/auth/facebook", title="Conéctate con Facebook") Conéctate con Facebook
        

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="//code.jquery.com/ui/1.10.2/jquery-ui.js")
        script(src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js")
        script(src="/js/l.control.geosearch.js")
        script(src="/js/l.geosearch.provider.google.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")