<a href="#" title="Cerrar" id="closeButton" class="close">X</a>

<h2>Agregar sitio Turistico</h2>

<form id="form-agregar-sitio" method="post" action="/places" enctype="multipart/form-data">
    <p>
        <input type="text" id="namePlace" name="name" placeholder="Nombre del lugar"/>
    </p>
    <p>
        <select name="country" id="countryPlace">
            <option selected>Elige un pais</option>
            {{#each countries}}
            <option value="{{{ this }}}"> {{{ this }}}</option>
            {{/each}}
        </select>
    </p>
    <p>
        <input type="text" id="cityPlace" name="city" placeholder="Ciudad" />
    </p>
    <p class="radios">
        <input type="radio" id="geolocationOption" name="lugar" value="geolocation"/>
        <span> Estoy en el lugar </span>
    </p>
    <p>
        <input type="file" id="imagePlace" name="file" />
    </p>
    <p>
        <textarea name="description" id="descriptionPlace" rows="8" placeholder="Descripcion"></textarea>
    </p>
    <input type="hidden" id="latPlace" name="lat"/>
    <input type="hidden" id="lngPlace" name="lng"/>
    <p class="clearfix">
        <input type="submit" value="Agregar" />
    </p>
</form>