exports.database = {
    host     : 'localhost',//cambiar por el host de la base de datos
    user     : 'root',//usuario de la base de datos
    password : 'w00tw00tlol',//password del usuario
    database : 'mapaturistico'//nombre de la base de datos
};