@import "_var"
@import "_mixins"

body
	background #666
	color gris2
	font-family 'Open Sans', Helvetica, Arial, sans-serif
	font-size 16px

a
	text-decoration none

#header
	background linear-gradient(to bottom, #fff 0%,#eee 100%)
	border-bottom 1px solid #ccc
	box-shadow 0 0 5px rgba(0, 0, 0, .3)
	height 44px
	position absolute
	width 100%
	z-index 1002

	.brand_area
		float left
		margin 4px 10px

		img
			display block

	.actions_area, .user_area
		border-left 1px solid #ddd
		border-right 1px solid #fff
		float right
		padding 5px 10px

		a
			color gris2
			line-height 34px

	.user_area
		line-height 34px

		.avatar
			border-radius 4px
			float left
			margin-right 5px
			overflow hidden

			img
				display block
		.name
			float left

	#loginButton, #registro, #addButton
		background azul
		border-radius 4px
		color blanco
		display inline-block
		font-size 15px
		margin 0 0 0 5px
		padding 0 15px

		&:hover
			background-image radial-gradient(circle,  lighten(azul, 20%) 0%, azul 100%)

	#addButton
		background verde
		margin-right 10px

		&:hover
			background-image radial-gradient(circle, lighten(verde, 20%) 0%, verde 100%)

	#logoutButton:hover
		text-decoration underline

#logintt
	background darken(blanco, 2%)
	border-radius 4px
	box-shadow 0 0 10px rgba(0, 0, 0, .3)
	display none
	padding 15px
	position absolute
	right 10px
	text-align center
	top 45px
	width 220px
	z-index 999

	h2
		color darken(blanco, 90%)
		font-size 17px
		margin 0 0 10px 0

	a#tt, a#fb
		background azul_tt
		color #fff
		display block
		font-size 13px
		font-weight bold
		line-height 32px
		margin 10px 0 0 0
		padding 5px
		text-align center
		text-decoration none

		img
			display block
			float left

	a#fb
		background azul_fb

	input[type='text']
		border thin solid darken(blanco, 20%)
		border-radius .2em
		font-size 15px
		height 20px
		margin-bottom 1em
		padding 5px
		width 200px

	input[type='button']
		background verde
		color blanco
		font-size 15px
		font-weight bold
		height 40px
		width 40%

		&:hover
			background-image radial-gradient(circle, lighten(verde, 40%) 0%, verde 100%)

	p
		color darken(blanco, 80%)
		font-size 13px
		font-weight bold
		margin-bottom 1em
		margin-left 15px
		text-align left

		a
			color azul
			text-decoration none

#agregar-sitio
	background darken(blanco, 2%)
	border-radius 4px
	box-shadow 0 0 10px rgba(0, 0, 0, .3)
	display none
	font-size 13px
	left 50%
	margin-left -182px
	padding 15px
	position absolute
	text-align left
	top 70px
	width 350px
	z-index 1003

	.close
		background rojizo
		border-radius 100%
		color blanco
		font-weight bold
		line-height 29px
		position absolute
		right -12px
		text-align center
		text-decoration none
		text-shadow(1px 1px 3px #000)
		top -10px
		width 28px

		&:hover
			background-image radial-gradient(circle, lighten(rojizo, 40%) 0%, rojizo 100%)

	form#form-agregar-sitio

		p.formText
			font-weight bold

		p.radios
			color darken(blanco, 60%)
			display inline
			font-size 12px
			vertical-align top

			input[type="radio"]
				margin .5em

			span
				margin 0 .3em 0 .3em

		p#coords
			display none

		span#pos
			background lighten(gris, 60%)
			color blanco
			font-weight bold
			padding .65em 1.4em .5em 1.2em

		p#selectFile
			margin-top 1em

			input#upload_value, span.upload
				display inline-block
				padding 5px
				vertical-align top
				width 70%

			input#upload_value
				padding 6px

			span.upload
				background lighten(gris, 60%)
				cursor pointer
				width 22%

				input
					cursor pointer
					opacity 0
					width 22%

			span#fileImage
				color blanco
				cursor pointer
				font-weight bold
				left 270px
				position relative
				top -25px
				z-index 99999

		input[type="submit"]
			background azul
			border 0
			border-radius 4px
			color blanco
			float right
			font-size 15px
			height 36px
			margin 0
			width 40%

			&:hover
				background-image radial-gradient(circle,  lighten(azul, 40%) 0%, azul 100%)
	h2
		color darken(blanco, 90%)
		font-size 17px
		margin 0 0 10px 0
		text-align center

	input[type="text"], textarea
		border 1px solid #ddd
		color gris
		font-size 15px
		padding 5px
		width 338px

	textarea
		resize none
		height 100px

	#positionPlace
		width 70%

		span
			background-color gris

	p
		margin 10px 0 0 0
		padding 0



#main
	bottom 0
	left 25px
	position absolute
	right 0
	top 45px

#mimapa
	height 100%
	width 100%

#places
	list-style none
	padding 0

	li
		padding 0
		margin-bottom .5em

		a
			background-color #FFF
			color #666
			display block
			padding 1em

			&:hover, &.active
				background-color #e1e2e5

			img
				border-radius 5em
				float left

			& > div
				display table
				height 100px
				margin-left 110px
				vertical-align top

				& > .center
					display table-cell
					vertical-align middle

			h3
				font-size .9em
				margin .2em 0

			p
				font-size .7em
				margin 0

#place
	background-image url(/../images/toronto.jpg)
	background-position center
	background-repeat no-repeat
	background-size cover
	background-size()
	border-radius 0 7px 7px 7px
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	height 550px
	left 350px
	margin 50px auto 50px auto
	margin-bottom 1.9em
	padding 1em
	position absolute
	width 950px

	h1
		background rgba(41, 128, 185, 1)
		box-shadow rgba(52, 152, 219, .5) 0 .4em
		color rgba(255, 255, 255, 1)
		font-size 1.5em
		margin 0em 0
		padding 0.5em 2em 0.5em 0.6em
		text-align left
		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
		text-transform uppercase

	p
		background rgba(0, 0, 0, .4)
		box-shadow rgba(0, 0, 0, .3) 5px 5px 7px
		color rgba(255,255,255,1)
		padding 1em

	abbr
		color rgba(255,255,255,1)
		font-size .8em
		margin 0 1.4em
		position absolute
		right 0
		text-shadow 2px 2px 5px rgba(0, 0, 0, .5)
	a
		text-decoration none

#sidebar
	background #f6f6f6
	bottom 0
	box-shadow 0 0 10px -2px rgba(0, 0, 0, .5)
	left -295px
	overflow auto
	position absolute
	top 45px
	transition all .3s ease
	width 320px
	z-index 1001

	h2
		background #666
		color blanco
		font-size 15px
		font-weight normal
		margin 0
		padding 5px 8px 5px 10px
		position fixed
		width 302px

		i
			float right

	#placeList
		position absolute
		top 30px
		z-index -134

	&:hover
		left 0
		border 0

	.elemList
		background blanco
		color gris
		cursor pointer
		margin 0.5em auto
		overflow hidden
		padding 5px

		.name
			font-size 15px
			font-weight bold
			margin 0

		.description
			font-size 15px
			margin 0.3em 0

		.caption
			padding-left 100px

		.thumb
			border-radius 100%
			float left
			overflow hidden

		.thumb img
			display block
			height 90px
			width 90px

		&:hover
			background darken(blanco, 15%)
			transition all 0.8s ease-out

// Estilos para el popup
#popupPlace
	font-family 'Open Sans', Helvetica, Arial, sans-serif
	font-size 1em;
	height 90px
	width 350px

	img
		border-radius 100%
		float left
		height 90px
		overflow hidden
		width 90px

	p
		font-size .9em
		margin 5px
		padding-left 100px

	#popupName
		color gris
		font-size 1.2em

	#popupDet
		display inline
		float right
		margin-top 20px
		padding 0

// Estilos menu contexual
#menuContextual
	display none
	position absolute
	width 150px
	background #f6f6f6
	border 1px solid gris
	z-index 9999999999

	ul
		list-style none

.leaflet-top
	&.leaflet-center
		display none

.clearfix:after, .clearfix:before
	content " "
	display table
.clearfix:after
	clear both

// @media screen and (max-width:1200px)
// 	// #formulario
// 	// 	left 140px

// 	// #sidebar
// 	//  	width 290px

// 	#main
// 		left 24px

// @media screen and (max-width:1024px)
// 	#formulario
// 		left 100px

// 	// #sidebar
// 	// 	width 280px

// 	#main
// 		left 280px



// @media screen and (max-width:768px)
// 	#formulario
// 		left 140px

// @media screen and (max-width:600px)
// 	#formulario
// 		left 0

// 	#sidebar
// 		height 100%
// 		top 650px
// 		width 100%

// 	#main
// 		left 0
// 		height 620px
// 		width  100%
