@import "_var"
@import "_mixins"

body
	background gris
	color gris2
	font-family 'Open Sans', Helvetica, Arial, sans-serif
	font-size 16px

a
	text-decoration none

// label
// 	color #ccc
// 	font-size .65em
// 	text-shadow 3px 3px 5px rgba(0, 0, 0, .7)
// 	text-transform uppercase

// input, textarea
// 	border-bottom 3px solid rgba(72, 118, 255, .8)
// 	border-left 0
// 	border-right 0
// 	border-top 0
// 	padding .3em
// 	width 95%

// input[type="submit"]
// 	background rgba(72, 118, 255, 1)
// 	box-shadow rgba(72, 118, 255, .5) 0 .4em
// 	color rgba(255, 255, 255, 1)
// 	font-size .8em
// 	padding 1em 0
// 	text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
// 	text-transform uppercase
// 	width 100%

// #cerrar
// 	background rgba(255, 0, 0, .8)
// 	border-radius 90% 90%
// 	box-shadow 0 0 3px rgba(0, 0, 0, .5)
// 	color #fff
// 	height 2.2em
// 	line-height 2.2em
// 	position absolute
// 	right -15px
// 	text-align center
// 	text-decoration none
// 	top -20px
// 	width 2.2em

// #formulario
// 	position absolute
// 	background rgba(0, 0, 0, .8)
// 	border-radius 0 7px 7px 7px
// 	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
// 	left 50%
// 	margin-left -125px
// 	padding 1em
// 	width 250px
// 	top 15%
// 	z-index 999
// 	left 140px
// 	left 100px
// 	left 140px
// 	left 0

// 	h2
// 		background rgba(98, 165, 58, 1)
// 		box-shadow rgba(98, 165, 58, .5) 0 .4em
// 		color rgba(255, 255, 255, 1)
// 		font-size .8em
// 		margin 1em 0
// 		padding 1.5em 0
// 		text-align center
// 		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
// 		text-transform uppercase

#header
	background linear-gradient(to bottom, #fff 0%,#eee 100%)
	border-bottom 1px solid #ccc
	box-shadow 0 0 5px rgba(0, 0, 0, .3)
	height 44px
	position absolute
	width 100%
	z-index 1002
	.brand_area
		float left
		margin 4px 10px
		img
			display block
	.actions_area, .user_area
		float right
		border-left 1px solid #ddd
		padding 5px 10px
	#loginButton, #registro, #addButton
		background azul
		border-radius 4px
		color blanco
		display inline-block
		font-size 15px
		line-height 34px
		margin 0 0 0 5px
		padding 0 15px
		&:hover
			background-image radial-gradient(circle,  lighten(azul, 20%) 0%, azul 100%)
	#addButton
		background verde
		&:hover
			background-image radial-gradient(circle, lighten(verde, 20%) 0%, verde 100%)

	a#colabora, a#acerca
		color darken(blanco, 60%)
		float left
		font-size 13px
		font-weight bold
		margin-right .8em
		margin-top 1em
		text-decoration none

#logintt
	//background rgba(0, 0, 0, .8)
	background darken(blanco, 2%)
	border-radius 0 7px 7px 7px
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	display none
	left 90%
	margin-left -125px
	padding 1em
	position absolute
	text-align center
	top 10%
	width 220px
	z-index 999

	h2
		color darken(blanco, 90%)
		font-size 17px
	a#tt, a#fb
		background azul_tt
		color #fff
		display block
		font-size 13px
		font-weight bold
		margin 1em .7em
		padding 0.9em 0.4em
		text-align center
		text-decoration none
		img 
			margin -2.5% auto  0 auto
			float left
	a#fb 
		background azul_fb
	input[type='text']
		border thin solid darken(blanco, 20%)
		border-radius .2em
		font-size 15px
		height 20px
		margin-bottom 1em
		padding 5px
		width 200px
	input[type='button']
		background verde
		color blanco
		font-size 15px
		font-weight bold
		height 40px
		width 40%
		&:hover
			background-image radial-gradient(circle, lighten(verde, 40%) 0%, verde 100%)
	p 
		color darken(blanco, 80%)
		font-size 13px 
		font-weight bold
		margin-left 15px
		margin-bottom 1em
		text-align left
		a 
			color azul
			text-decoration none 

#agregar-sitio
	background darken(blanco, 2%)
	border-radius 0 7px 7px 7px
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	display none
	font-size 13px
	left 50%
	margin-left -125px
	padding 1.3em
	position absolute
	text-align left
	top 10%
	width 350px
	z-index 999
	a.close 
		background rojizo
		border-radius 100%
		color blanco 
		font-weight bold 
		line-height 29px 
		position absolute
		right -12px 
		text-shadow(1px 1px 3px #000)
		text-align center
		text-decoration none 
		top -10px 
		width 28px 
		&:hover 
			background-image radial-gradient(circle, lighten(rojizo, 40%) 0%, rojizo 100%)
	form#form-agregar-sitio
		p.radios
			color darken(blanco, 60%)
			display inline
			font-size 12px	
			vertical-align top
			input[type="radio"]
				margin-top .5em
				margin-bottom .5em
		span#pos
			background lighten(gris, 60%)
			color blanco
			font-weight bold
			padding .65em 1.4em .5em 1.2em
		
		p#selectFile
			margin-top 1em
			input#upload_value, span.upload 
				display inline-block
				padding 5px
				vertical-align top
				width 70%
			input#upload_value
				padding 6px
			span.upload 
				background lighten(gris, 60%)
				cursor pointer
				width 22%
				input
					cursor pointer
					opacity 0
					width 22%
			span#fileImage 
				color blanco
				cursor pointer
				position relative
				left 270px
				font-weight bold 
				top -25px 
				z-index 99999
			
		input[type="submit"]
			background azul
			color blanco
			font-size 15px
			font-weight bold
			height 40px
			margin 2% 30%
			width 40%
			&:hover 
				background-image radial-gradient(circle,  lighten(azul, 40%) 0%, azul 100%)
	h2
		background-color verde
		color blanco
		font-size 15px
		font-weight bold
		margin-top 0
		padding 8px 0 8px 0
		text-align center
	

	input[type="text"], textarea
		color gris
		font-size 15px
		padding 5px
		resize none
		width 97%

	#positionPlace
		width 70%

		span
			background-color gris

	p
		margin 5px
		padding 0



#main
	position absolute
	bottom 0
	left 320px
	right 0
	top 45px

#mimapa
	height 100%
	left 0
	position absolute
	top 0
	width 100%

#places
	list-style none
	padding 0

	li
		padding 0
		margin-bottom .5em
		a
			background-color #FFF
			color #666
			display block
			padding 1em
			&:hover, &.active
				background-color #e1e2e5

			img
				border-radius 5em
				float left

			& > div
				display table
				height 100px
				margin-left 110px
				vertical-align top
				& > .center
					display table-cell
					vertical-align middle

			h3
				font-size .9em
				margin .2em 0

			p
				font-size .7em
				margin 0

#place
	position absolute
	left 350px
	margin 50px auto 50px auto
	margin-bottom 1.9em
	padding 1em
	width 950px
	height 550px
	border-radius 0 7px 7px 7px
	background-image url(/../images/toronto.jpg)
	background-position center
	background-size cover
	background-repeat no-repeat
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	background-size()

	h1
		margin 0em 0
		padding 0.5em 2em 0.5em 0.6em
		background rgba(41, 128, 185, 1)
		box-shadow rgba(52, 152, 219, .5) 0 .4em
		color rgba(255, 255, 255, 1)
		text-align left
		text-transform uppercase
		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
		font-size 1.5em

	p
		background rgba(0, 0, 0, .4)
		box-shadow rgba(0, 0, 0, .3) 5px 5px 7px
		color rgba(255,255,255,1)
		padding 1em

	abbr
		color rgba(255,255,255,1)
		font-size .8em
		margin 0 1.4em
		position absolute
		right 0
		text-shadow 2px 2px 5px rgba(0, 0, 0, .5)
	a
		text-decoration none

#sidebar
	background #f6f6f6
	bottom 0
	box-shadow 0 0 10px -2px rgba(0, 0, 0, .5)
	left 0
	overflow auto
	position absolute
	top 45px
	width 320px
	z-index 1001

	.elemList
		background blanco
		color gris
		cursor pointer
		margin 0.5em auto
		overflow hidden
		padding 5px

		.name
			font-size 15px
			font-weight bold
			margin 0

		.description
			font-size 15px
			margin 0.3em 0

		.caption
			padding-left 100px

		.thumb
			border-radius 100%
			overflow hidden
			float left

		.thumb img
			display block
			height 90px
			width 90px

		&:hover
			background darken(blanco, 15%)
			transition all 0.8s ease-out

	h2
		background #666
		color blanco
		font-size 15px
		font-weight normal
		margin 0
		padding 5px 10px
		filter dropshadow(color=#000, offx=1, offy=1)

.leaflet-top
	&.leaflet-center
		display none

@media screen and (max-width:1200px)
	#formulario
		left 140px

	#sidebar
		width 290px

	#main
		left 290px

@media screen and (max-width:1024px)
	#formulario
		left 100px

	#sidebar
		width 280px

	#main
		left 280px



@media screen and (max-width:768px)
	#formulario
		left 140px

@media screen and (max-width:600px)
	#formulario
		left 0

	#sidebar
		height 100%
		top 650px
		width 100%

	#main
		left 0
		height 620px
		width  100%
