@import "_var"
@import "_mixins"

body
	background gris
	color gris2
	font-family Helvetica, Arial
	font-size 16px

label
	color #ccc
	font-size .65em
	text-shadow 3px 3px 5px rgba(0, 0, 0, .7)
	text-transform uppercase

input, textarea
	border-bottom 3px solid rgba(72, 118, 255, .8)
	border-left 0
	border-right 0
	border-top 0
	padding .3em
	width 95%

input[type="submit"]
	background rgba(72, 118, 255, 1)
	box-shadow rgba(72, 118, 255, .5) 0 .4em
	color rgba(255, 255, 255, 1)
	font-size .8em
	padding 1em 0
	text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
	text-transform uppercase
	width 100%

#cerrar
	background rgba(255, 0, 0, .8)
	border-radius 90% 90%
	box-shadow 0 0 3px rgba(0, 0, 0, .5)
	color #fff
	height 2.2em
	line-height 2.2em
	position absolute
	right -15px
	text-align center
	text-decoration none
	top -20px
	width 2.2em

#formulario
	position absolute
	background rgba(0, 0, 0, .8)
	border-radius 0 7px 7px 7px
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	left 50%
	margin-left -125px
	padding 1em
	width 250px
	top 15%
	z-index 999
	left 140px
	left 100px
	left 140px
	left 0
	
	h2
		background rgba(98, 165, 58, 1)
		box-shadow rgba(98, 165, 58, .5) 0 .4em
		color rgba(255, 255, 255, 1)
		font-size .8em
		margin 1em 0
		padding 1.5em 0
		text-align center
		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
		text-transform uppercase

#header
	h1
		color #fff
		float left 
		font-size 1.2em
		line-height 40px
		margin 0
		//text-align center

#logintt
	position absolute
	background rgba(0, 0, 0, .8)
	border-radius 0 7px 7px 7px
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	display none
	left 50%
	margin-left -125px
	padding 1em
	width 250px
	top 25%
	z-index 999
	
	h2
		background rgba(98, 165, 58, 1)
		box-shadow rgba(98, 165, 58, .5) 0 .4em
		color rgba(255, 255, 255, 1)
		font-size .8em
		margin 1em 0
		padding 1.5em 0
		text-align center
		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
		text-transform uppercase
	
	a
		background-color #1bb2e9
		color #fff
		display block
		font-weight bold
		margin 2em auto
		padding 0.5em 0.2em
		text-align center
		text-decoration none

#main
	position absolute
	bottom 0
	left 320px
	right 0
	top 40px

#mimapa
	height 100%
	left 0
	position absolute
	top 0
	width 100%

#places
	list-style none
	padding 0
	
	li
		padding 0
		margin-bottom .5em
		a
			background-color #FFF
			color #666
			display block
			padding 1em
			&:hover, &.active
				background-color #e1e2e5

			img
				border-radius 5em
				float left
			
			& > div
				display table
				height 100px
				margin-left 110px
				vertical-align top
				& > .center
					display table-cell
					vertical-align middle
			
			h3
				font-size .9em
				margin .2em 0
			
			p
				font-size .7em
				margin 0

#place
	position absolute
	left 350px
	margin 50px auto 50px auto
	margin-bottom 1.9em
	padding 1em
	width 950px
	height 550px
	border-radius 0 7px 7px 7px
	background-image url(/../images/toronto.jpg)
	background-position center
	background-size cover
	background-repeat no-repeat
	box-shadow rgba(0, 0, 0, .5) 5px 5px 7px
	background-size()

	h1
		margin 0em 0
		padding 0.5em 2em 0.5em 0.6em
		background rgba(41, 128, 185, 1)
		box-shadow rgba(52, 152, 219, .5) 0 .4em
		color rgba(255, 255, 255, 1)
		text-align left
		text-transform uppercase
		text-shadow 3px 3px 5px rgba(0, 0, 0, .5)
		font-size 1.5em

	p
		background rgba(0, 0, 0, .4)
		box-shadow rgba(0, 0, 0, .3) 5px 5px 7px
		color rgba(255,255,255,1)
		padding 1em
	
	abbr
		color rgba(255,255,255,1)
		font-size .8em
		margin 0 1.4em
		position absolute
		right 0
		text-shadow 2px 2px 5px rgba(0, 0, 0, .5)
	a
		text-decoration none

#sidebar
	background #f6f6f6
	bottom 0
	box-shadow 0 0 10px -2px rgba(0, 0, 0, .5)
	left 0
	overflow auto
	position absolute
	top 40px
	width 320px
	z-index 1

	.elemList
		background blanco
		color gris
		cursor pointer		
		margin 0.5em auto
		overflow hidden
		padding 5px		

		.name
			font-size 15px
			font-weight bold
			margin 0

		.description
			font-size 15px
			margin 0.3em 0		

		.caption
			padding-left 100px

		.thumb
			border-radius 100% 
			overflow hidden
			float left

		.thumb img
			display block
			height 90px
			width 90px

		&:hover
			background darken(blanco, 15%)
			transition all 0.8s ease-out

	h2
		background rojizo
		color blanco
		font-size 1.2em
		margin 0
		padding .5em
		text-align center
		text-shadow 1px 2px 5px #000
		filter dropshadow(color=#000, offx=1, offy=1)

.leaflet-top
	&.leaflet-center
		display none

@media screen and (max-width:1200px) 
	#formulario 
		left 140px
	
	#sidebar 
		width 290px
	
	#main 
		left 290px
	
@media screen and (max-width:1024px) 
	#formulario 
		left 100px
	
	#sidebar 
		width 280px
	
	#main 
		left 280px
	


@media screen and (max-width:768px) 
	#formulario 
		left 140px

@media screen and (max-width:600px) 
	#formulario 
		left 0
	
	#sidebar 
		height 100%
		top 650px
		width 100%
	
	#main 
		left 0
		height 620px
		width  100%
