extends layout

block stylesheets
	link(rel="stylesheet", href="/app/css/normalize.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700")
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
	link(rel="stylesheet", href="/app/css/main.css")

block main
	header(id="header")
		a(href="#", class="brand_area")
			img(src="/app/img/assets/logo-proudplaces.png", alt="Proud Places")

		div(class="actions_area")
			if profile
				a(href="/sitio/", id="addButton") Agregar lugar
				a(href="/logout", id="logoutButton") Salir
			else
				a(href="/login/", id="loginButton") Ingresar o registrarme

		if profile
			div(class="user_area clearfix")
				div(class="avatar")
					img(src="#{profile.avatar}", height="34", width="34")
				div(class="name") Hola
					strong #{profile.username}

	section(id="sidebar")
		h2 Últimos sitios agregados
		div(id="placeList")

	section(id="main")
		div(id="mimapa")

	section(id="logintt")
		h2 Iniciar Sesión o registrarme

		a(id="tt", href="/auth/twitter", title="Conéctate con Twitter")
			img(src="/app/img/assets/twitter.png", alt="")
			span Conéctate con Twitter
		a(id="fb", href="/auth/facebook", title="Conéctate con Facebook")
			img(src="/app/img/assets/facebook.png", alt="")
			span Conéctate con Facebook

	section(id="agregar-sitio")
		a(href="#", title="Cerrar", id="closeButton", class="close") X
		h2 Agregar sitio turistico
		form(id="form-agregar-sitio", method="POST", action="/places", enctype="multipart/form-data")
			p
				input(type="text", id="namePlace", name="name", placeholder="Nombre del lugar")
			p
				select(id="countryPlace", name="country")
					option(selected) Elige un país
			p
				input(type="text", id="cityPlace", name="city", placeholder="Ciudad")
			p(class="radios")
				input(type="radio", id="geolocationOption", name="lugar", value="geolocation")
				span  Estoy en el lugar
			p
				input(type="file", id="imagePlace", name="file")
			p
				textarea(id="descriptionPlace", name="description", placeholder="Descripcion", rows="8")
			input(type="hidden", id="latPlace", name="lat")
			input(type="hidden", id="lngPlace", name="lng")
			p(class="clearfix")
				input(type="submit", value="Agregar")

block javascripts
	script(data-main="/app/scripts/main.js", src="/app/scripts/vendor/requirejs/require.js")