extends layout

block stylesheets
	link(rel="stylesheet", href="/css/normalize.css")
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
	link(rel="stylesheet", href="/css/main.css")

block main
	header(id="header")
		h1
			img(src="/img/logo.png", alt="")
		a(href="/acerca/", id="acerca") |   Acerca del proyecto
		a(href="/colabora/", id="colabora") Colabora con nosotros
		a(href="/logout/", id="logoutButton") Salir
		a(href="/login/", id="loginButton") Ingresar
		a(href="/registro/", id="registro") Registrar		
		a(href="/sitio/", id="addButton") Agregar lugar		

	section(id="sidebar")
		h2 Últimos sitios agregados
		div(id="placeList")
		//include partials/places_list

	section(id="main")
		div(id="mimapa")

	section(id="logintt")
		h2 Iniciar Sesión
		form(id="sendData", method="post", action="")
			input(id="", type="text", placeHolder="Usuario")
			input(id="", type="text", placeHolder="Contraseña")
			input(id="", type="button", value="Entrar")
		
		p O puedes usar:
		a(id="tt", href="/auth/twitter", title="Conéctate con Twitter") 
			img(src="/img/assets/twitter.png", alt="") 
			span Conéctate con Twitter 
		a(id="fb", href="/auth/facebook", title="Conéctate con Facebook") 
			img(src="/img/assets/facebook.png", alt="") 
			span Conéctate con Facebook
		//p ¿No tienes cuenta? 
		//	a(href="#", target="_blank") Regístrate

	section(id="agregar-sitio")
		a(href="/", title="Cerrar", class="close") X 
		h2 Agregar sitio turistico
		form(id="form-agregar-sitio", method="post", action="")
			p
				input(type="text", id="namePlace", name="namePlace", placeholder="Nombre del lugar")
			p(class="radios")
				input(type="radio", name="lugar", value="estoyAqui")
				span  Estoy en el lugar
			p(class="radios")
				input(type="radio", name="lugar", value="noAqui")
				span  No estoy en el lugar
			p
				input(type="text", id="positionPlace", name="positionPlace", placeholder="Localizacion")
				span(id="pos") Posición

			p(id="selectFile")
				input(id="upload_value", value="")
				span(class="upload")
					input(type="file")
				span(id="fileImage") Imagen
				
			p
				textarea(id="descriptionPlace", name="descriptionPlace", placeholder="Descripcion", rows="8")
			p
				input(type="submit", value="Agregar")

block javascripts
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/vendor/underscore.js")
	script(src="/js/vendor/backbone.js")
	//- Modelos
	script(src="/js/models/user.js")
	script(src="/js/models/place.js")
	//- Vistas
	script(src="/js/views/map.js")
	script(src="/js/views/sidebar.js")
	script(src="/js/views/headerView.js")

	//- Router
	script(src="/js/routes.js")
	//- App
	script(src="/js/main.js")